<!-- Introductory Modal -->
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="myModal" data-toggle="modal" aria-hidden="true" onclick='hide_modal()'>X</a>
  </div>
  <div class="modal-body">
    <h2>Welcome to ItinGen! An application that automatically generates itineraries for you! On the left side, your first itinerary is split into different activities and meals. The locations are mapped out on the map in the center of the screen. By clicking the red thumb near the bottom, you can generate a new itinerary. By clicking the green thumb, you can add the current itinerary to you list of saved itineraries. Your liked itineraries can be viewed by clicking the link within the hamburger menu on the top left of the page.</h2>
  </div>
  <div class="modal-footer">
    <a href="#bottomOfPage" class="btn">Close</a>
    <!--    <a href="#" class="btn btn-primary">Save changes</a> -->
  </div>
</div>
<!-- End of Introductory Modal -->

<!-- Help Modal -->

<div class="w3-container">
  <div id="id02" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span style display='static' class="w3-button w3-display-topright">&times;</span>
        <p>Welcome to ItinGen! An application that automatically generates itineraries for you! On the left side, your first itinerary is split into different activities and meals. The locations are mapped out on the map in the center of the screen. By clicking the red thumb near the bottom, you can generate a new itinerary. By clicking the green thumb, you can add the current itinerary to you list of saved itineraries. Your liked itineraries can be viewed by clicking the link within the hamburger menu on the top left of the page.</p>
      </div>
    </div>
  </div>
</div>

<!-- End of Help Modal -->

<!-- Modal for Information -->

<div class="w3-container">
  <div id="id00" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <p>Welcome to ItinGen! An application that automatically generates itineraries for you! On the left side, your first itinerary is split into different activities and meals. The locations are mapped out on the map in the center of the screen. By clicking the red thumb near the bottom, you can generate a new itinerary. By clicking the green thumb, you can add the current itinerary to you list of saved itineraries. Your liked itineraries can be viewed by clicking the link within the hamburger menu on the top left of the page.</p>
      </div>
    </div>
  </div>
</div>
<!-- End Explanation Modal -->


<!-- Model for Registering -->
<div class="w3-container">
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Please Enter your Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Please Enter a Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Registration From -->


<div style='width: 100%; height: 100%'>
  <div id="map-btn-container" class="container">
    <div id="map" style='width: 100%; height: 100%; right: 0;' class="map-pos"></div>
    <div class="rate rate-btn-container">
      <%= link_to '', root_path, class: "btn btn-sm rate-btn btn-link", id: "like", :method => :get %>
      <%= link_to '', root_path, class: "btn btn-sm rate-btn btn-link", id: "dislike", :method => :get %>
    </div>
  </div>


  <!-- Sidebar header -->
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <button class="btn-outline-info">Home </button>
          <button class="btn-outline-info">Liked Itineraries</button>
          <button onclick="document.getElementById('id01').style.display='block'" class="btn-outline-info">Login</button>
          <button onclick="document.getElementById('id01').style.display='block'" class="btn-outline-info">Register</button>
           <%#<button onclick="document.getElementById('id00').style.display='block'" class="btn-outline-info">Help</button> %>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>

    <!-- <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button> -->

    <!-- sidebar body cards -> these need to be dynamically generated with Ruby-->
    <% @locs.each_with_index do |loc, i| %>
      <div class="card" style="width: 100%;">
        <div class="card-header">
          <h3 class="card-title">Location <%= ((i + 10).to_s 36).capitalize %></h3>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= loc[:venue_name] %></h5>
          <p class="card-text"><%= loc[:address1] %></p>
          <p class="card-text"><%= loc[:address2] %></p>
          <p class="card-text"><%= loc[:address3] %></p>
          <p class="card-text"><%= loc[:city] %>, <%= loc[:state] %>. <%= loc[:zip_code] %></p>
          <p class="card-text"><%= loc[:state] %></p>
          <!-- link below could also be part of dynamically generate-->
          <a href="https://www.uchicago.edu/" class="btn btn-primary">[See Venue]</a>
        </div>
      </div>
    <% end %>
    <!--sidebar body-->
  </div>

